{% extends 'base/base.html' %}

{% block page_content %}
<form method="POST" class="form-inline"  enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="col-xl-6 col-md-6 mb-6">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
            <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nuevo {% endif %} beneficiario
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>RFID:</p>{{form.rfid}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Documento:</p>{{form.documento}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Número de documento:</p>{{form.numero_documento}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Género:</p>{{form.genero}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Dependencia:</p>{{form.dependencia}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Tipo de beneficiario:</p>{{form.tipo_beneficiario}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Nombres:</p>{{form.nombres}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Apellidos:</p>{{form.apellidos}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>E-mail:</p>{{form.email}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Fecha de nacimiento:</p>{{form.fecha_nacimiento}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Foto:</p>{{form.foto}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group">
                                        <p>Estado:</p>{{form.estado}}
                                    </div>
                                </div>

                                <!-- {{ form.as_p }}-->
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>
                                        Guardar
                                    </button>
                                    <a href="{% url 'ben:beneficiario_list' %}" class="btn btn-success"><span
                                            class="fa fa-undo"></span>Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block footer %}
{% endblock %}